<h3>Edit Ticket Entry</h3>
<% div = "ticket_entry_"+@ticket_entry.id.to_s %>
<% loading = '$("div#'+div+'").wrap("<div></div>");$("div#'+div+'").parent().slideUp(500)' %>
<% complete = 'var div = $("div#'+div+'").parent();div.load("/ticket_entries/'+@ticket_entry.id.to_s+'");div.slideDown(500);' %>
<% form_remote_for(@ticket_entry, :loading => loading, :complete => complete) do |f| %>
  <table class="m">
    <tr>
      <td class="first">Entry Type</td><td><%= f.select :entry_type, ["Work Done", "Research", "Note", "HowTo"] %></td>
      <% if current_user.email == "sabretechllc@gmail.com" %>
        <td class="first">Billable</td><td><%= f.check_box :billable %></td>
      <% end %>
      <td class="first">Private</td><td><%= f.check_box :private %></td>
    </tr>
    <tr>
      <% if current_user.email == "sabretechllc@gmail.com" %>   
        <td class="first">Labor Type</td><td><%= f.select :labor_type_id, LaborType.find(:all, :order => "name", :conditions => {:visible => true}).collect {|c| [c.name, c.id]}, :include_blank => true %></td>
        <td class="first">Time Spent</td>
        <td>
          <%= f.text_field :time, :title => "minutes", :class => "short_field" %>
        </td>
        <td class="first">Drive Time</td>
        <td>
          <%= f.text_field :drive_time, :title => "minutes", :class => "short_field" %>
        </td>
      <% end %>
    </tr>
  </table>
  <table>
    <tr>
      <td class="new_ticket_entry_note">Notes</td>
      <% if !@ticket_entry.parts.blank? %>
        <td class="new_ticket_entry_parts">Parts</td>
      <% end %>      
    </tr>
    <tr>
      <td class="new_ticket_entry_note"><%= f.text_area :note %></td>
      <% if !@ticket_entry.parts.blank? %>
        <td class="new_ticket_entry_parts"><%= f.text_area :parts %></td>
      <% end %>
    </tr>
  </table>
  <p><%= f.submit "Save" %></p>
<% end %>
<div id="time_entry">
  <p>Time: <input type="text" id="time_entry" value="<%= @ticket_entry.time %>"/></p>
  <p>Drive Time: <input type="text" id="drive_time_entry" value="<%= @ticket_entry.drive_time %>"/></p>
</div>
<script>
  $('div#time_entry').dialog({
    autoOpen: false,
    buttons: {
      "Set New Times": function(){
        ENTRY.find('input#ticket_entry_time').val($('div#time_entry').find('input#entry_time').val())
        ENTRY.find('input#ticket_entry_drive_time').val($('div#drive_time_entry').find('input#entry_drive_time').val())
        $('div#time_entry').dialog('close');
        alert('Do not forget to save the ticket entry.')
      }
    }
  });
  $('form table div.key').bind('click', function(){
    ENTRY = $(this);
    $('div#time_entry').dialog('open');
  });
</script>