<ul class="toolbar">
  <li><a href="javascript:void(0)" class="new_entry_link">New Entry</a></li>
  <li><a href="javascript:void(0)" class="add_item_link">Add Item</a></li>
  <li><a href="javascript:void(0)" class="toggle_detail">Toggle Detail</a></li>
</ul>
<div id="new_ticket_entry" class="hide toolbox"></div>
<div id="ticket_entries" detail="1">
  <% @ticket_entries.each do |entry| %>
    <% if entry.class.name == "TicketEntry" %>
      <%= render :partial => 'entry', :locals => { :entry => entry } %>
    <% else %>
      <div id="ticket_item_<%= entry.id %>" data-ticket-item-id="<%= entry.id %>" class="ticket_item entry">
        <p><b><%= entry.quantity %></b>x <b><%= entry.item.name %></b> [Barcode: <%= entry.item.barcode %>] <% if !entry.serial_number.blank? %>[SN: <%= entry.serial_number %>]<% end %><% if !entry.device_id.blank? %> [Device: <%= link_to entry.device.service_tag, url_for(entry.device) %>]<% end %> added by <b><%= User.find(entry.creator_id).name %></b> on <%= entry.created_at.strftime('%I:%M%p on %x')%><div class="delete_button hide"><%= link_to_remote image_tag("/images/icons/delete.png"), :url => ticket_item_url(entry), :method => :delete, :confirm => "Are you sure you want to delete this item?" %></div></p>
      </div>
    <% end %>
  <% end %>
  <span>Billable Time on Ticket: <b><%= @ticket.billable_time %> minutes</b>  -  Non-Billable Time on Ticket: <b><%= @ticket.non_billable_time %> minutes</b></span>
</div>
<div id="add_item_dialog">
  <p><label>Scan Barcode</label> <input type="text" id="barcode" /> Or Search <input type="text" id="item_search" /></p>
  <% form_for @ticket do |form| %>
    <ul id="items_list">  
      
    </ul>
  <% end %>
</div>

<script>
  $(document).ready(function() {
    setupToolbarsAndButtons();
    // Show and hide the edit and delete buttons
    $("div.delete_button").hide();
    $("div.edit_button").hide();
    $("td.hideable").hide();
    $("div.entry").bind("mouseenter", function(){
      $(this).find("td.hideable").show();
      $(this).children("div.delete_button").show();
      $(this).children("div.edit_button").show();
    }).bind("mouseleave", function(){
      $(this).find("td.hideable").hide();
      $(this).children("div.delete_button").hide();
      $(this).children("div.edit_button").hide();
    });
    // replace ticket entry with edit form                          
    $("div#ticket_entries div.edit_button a").click(function(){
      var div = $(this).parent().parent();
      div.slideUp(500);
      var entryUrl = "/ticket_entries/"+div.attr("entry_id");
      div.load(entryUrl+"/edit", function(){
        div.slideDown(500);
      });
    });
    // add item form dialog
    $("#add_item_dialog").dialog({
      autoOpen: false,
      modal: true,
      width: 800,
      height: 400,
      title: "Add Inventory Items to Ticket",
      close: function(){
        $('#items_list').empty();
      }
    });
    // addItem function
    function addItem(query){
      $.get(window.location.pathname+"/ticket_items/"+query, function(data){
  	    $('#items_list').prepend(data);
  	  });      
    }
    // bind keypress event
    $('#add_item_dialog input#barcode').keyup(function(e) {
    	if(e.keyCode == 13) {
    	  addItem('barcode/'+$(this).val());
    	  $(this).val('');
    	}
    });
    // add item search using quicksearch
    $('#item_search').quickselect({
      ajax: '/inventory/',
    	maxVisibleItems:50,
      onItemSelect: function(li){
        var item = li.item;
        var values = item.values || (item.value ? [item.value] : (typeof(item)==='string' ? [item] : item));
        addItem('item_id/'+values);
        $('#item_search').val('');
        $('#add_item_dialog input#barcode').focus();
      }
    });
    // setup the save
    $('#add_item_dialog').dialog('option', 'buttons', { 
      "Save": function() {
        // console.log($('ul#items_list').closest('form'));
        $('ul#items_list').closest('form').ajaxSubmit({
          success: function(){
            // alert('saved items');
            window.location.reload();
          }
        })
      }
    });
    // open add item dialog
    $('a.add_item_link').click(function(){
      $('#add_item_dialog').dialog('open');
      $('#add_item_dialog input#barcode').focus();
    });
    // // // // // // // // // // // // // // // // // // // // //    
    // on delete slide up deleted note
    $("div#ticket_entries div.delete_button a").click(function(){
      $(this).parent().parent().slideUp("slow");
    });   
    // setup note detail level button
    function apply_detail(detail){
      $("div.ticket_entry").each(function(i){
        if($(this).attr("detail") > detail){
          $(this).addClass("hide");
        }else{
          $(this).removeClass("hide");
        };
      });
    };
    var detail = $("div#ticket_entries").attr("detail");
    apply_detail(detail);
    $("a.toggle_detail").click(function(){
      if(detail == 1){
        detail = 6;
        apply_detail(detail);
      }else{
        detail = 1;
        apply_detail(detail);
      };
    });   
    // setup new entry link and form
    $("a.new_entry_link").bind("click", function(){
      var entriesURL = "/tickets/<%= @ticket_entries.first.ticket_id %>/ticket_entries"
      $("#new_ticket_entry").load(entriesURL+"/new", function(){
        // $("input[type=text]").each( function() {
        //   if ($(this).val() == "") {
        //     $(this).addClass("blur");
        //   };
        //   $(this).hint();
        // });
        $("#new_ticket_entry").slideDown(500);
      });
    });
  });
</script>