<h3>New Ticket Entry</h3>
<% form_for @ticket_entry do |f| %>
  <table class="m">
    <tr>
      <td class="first">Entry Type</td><td><%= f.select :entry_type, ["Work Done", "Research", "Note", "HowTo"] %></td>
      <td class="first">Billable</td><td><%= f.check_box :billable %></td>
      <td class="first">Private</td><td><%= f.check_box :private %></td>
    </tr>
    <tr>
      <td class="first">Labor Type</td><td><%= f.select :labor_type_id, LaborType.find(:all, :order => "name", :conditions => {:visible => true}).collect {|c| [c.name, c.id]}, :include_blank => true %></td>
      <td class="first hide">Time Spent</td><td class="hide"><%= f.text_field :time, :title => "minutes", :class => "short_field" %></td>
      <td class="first hide">Drive Time</td><td class="hide"><%= f.text_field :drive_time, :title => "minutes", :class => "short_field" %></td>
    </tr>
  </table>
  <h4>Notes</h4>
  <div class="ticket_entry_note_text_area"><%= f.text_area :note %></div>
  <%= f.hidden_field :detail, :value => 1 %>
  <%= f.hidden_field :ticket_id, :value => params[:ticket_id] %>
  <%= f.hidden_field :creator_id, :value => current_user.id %>
  <p><%= f.submit "Save" %></p>
<% end %>

<script>
  $("select#ticket_entry_labor_type_id").change(function(){
    $("td").removeClass("hide");
  });
  setupToolbarsAndButtons()
</script>