<div id="content_search">
  <% form_tag "/report/ticket_detail", :method => "get" do %>
    <p>
      <label>Start Date:</label>
      <%= text_field_tag :start_date, @start_date %>
      <label>End Date:</label>
      <%= text_field_tag :end_date, @end_date %>
      <label>Technician:</label>
      <select id="technician_id" name="technician_id">
        <% @technicians.each do |tech| %>
          <option value="<%= tech.id %>"<%= if @selected then tech.id == @selected.to_i ? ' selected="selected"' : '' else tech.id == 2 ? ' selected="selected"' : '' end %>><%= tech.name %></option>
        <% end %>
      </select>
      <%= submit_tag "Run report" %>
    </p>
  <% end %>
</div>

<% if @tickets %>
  <table class="itu" id="report">
    <thead>
      <tr>
        <% @header.each do |name| %>
          <th><%= name %></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @tickets.each do |ticket| %>
        <tr>
          <% @header.each do |name| %>
            <td><%= ticket[name].class == String ? "<a href='/tickets/"+ticket[name]+"'>"+ticket[name]+"</a>" : ticket[name]/60 %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<script>
  $(document).ready(function() {
    // create datepicker widget
    $("#start_date").datepicker({
      dateFormat: '20y-mm-dd'
    });
    $("#end_date").datepicker({
      dateFormat: '20y-mm-dd'
    });
    $('table.itu').tablesorter();
    
    $('#report tbody').append('<tr class="last"><td>Totals</td></tr>');
    $('#report thead th').each(function(index){
      if ($(this).text() != "Ticket") {
        $('#report tbody tr.last').append('<td>'+sumOfColumns('report', index + 1, true)+'</td>')
      }
    });
    buildTables();
	});
</script>