<% if @ajax == false %>
  <div id="clients">
    <table class="itu">
      <thead>
        <tr><th class="first">Id</th><th>Full Name</th></tr>
      </thead>
      <tbody>
        <% @clients.each do |client|  %>
          <tr class="client" title="<%= "#{client.fullname}" %>" alt="<%= client.id %>">
            <td class="first"><a href="/qb_client_connector/<%= client.id %>"><%= client.id %></a></td>
            <td><a href="/qb_client_connector/<%= client.id %>"><%= client.fullname %></a></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% else %>
  <table class="itu">
    <tr><th>qb_id</th><th>Full Name</th><th>First Name</th><th>Last Name</th></tr>
    <% @possibles.each do |possible| %>
      <tr alt="<%= possible[:ListID] %>">
        <td><a href="javascript:void(0)"><%= possible[:ListID] %></a></td>
        <td><a href="javascript:void(0)"><%= possible[:FullName] %></a></td>
        <td><a href="javascript:void(0)"><%= possible[:FirstName] %></a></td>
        <td><a href="javascript:void(0)"><%= possible[:LastName] %></a></td>
      </tr>
    <% end %>
  </table>
<% end %>

<script>
  // make sidebar item appear selected
  $("#sidebar li a.qb_client_connector").parent().addClass("selected");
</script>