<div id="client">
  <div class="mugshot"><%= image_tag @client.mugshot.url(:avatar) %></div>
  <h2 class="fullname" title="<%= @client.fullname %>" alt="<%= @client.id %>"><%= @client.fullname %></h2>
  <h3 class="company_name"><%= @client.company_name %></h3>

  <div id="client_possibles">
    <ul>
      <li class="ui-tabs-nav-item"><a href="#possibles" title="details">Possible QB Matches</a></li>
      <li class="ui-tabs-nav-item"><a href="#search_more" title="details">Search More</a></li>
    </ul>
    <div id="possibles">
      <table class="itu">
        <tr><th>qb_id</th><th>Full Name</th><th>First Name</th><th>Last Name</th></tr>
        <% @possibles.each do |possible| %>
          <tr alt="<%= possible[:ListID] %>">
            <td><a href="javascript:void(0)"><%= possible[:ListID] %></a></td>
            <td><a href="javascript:void(0)"><%= possible[:FullName] %></a></td>
            <td><a href="javascript:void(0)"><%= possible[:FirstName] %></a></td>
            <td><a href="javascript:void(0)"><%= possible[:LastName] %></a></td>
          </tr>
        <% end %>
      </table>
    </div>
    <div id="search_more">
      <h2>Search QB Clients</h2>
      <div class="ui-tabs-panel-padding">
        <input type="text" name="q" value="" /><input type="submit" value="Search" />
      </div>
      <div id="new_search_data"></div>
    </div>
  </div>
  <div id="client_form" class="hide">
    <form action="/qb_client_connector/<%= @client.id %>" method="post">
      <input name="_method" type="hidden" value="put" />
      <input id="client_qb_id" name="client[qb_id]" size="30" type="text" value="" />
      <input id="client_submit" name="commit" type="submit" value="Save changes" />
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
    </form>
  </div>
</div>

<script>
  $(document).ready(function() {
    // add my tabs, pad my tables
    $("#client_possibles > ul").tabs();
    $("#center div.ui-tabs-panel table.itu").wrap("<div></div>").parent().addClass("ui-tabs-panel-padding");

    // submit and load new data via ajax when submit is clicked
    var q = "";
    var url = "";
    $("#search_more input[type=submit]").bind("click", function(){
      q = $("#search_more input[type=text]").val();
      url = "/qb_client_connector?q="+q;
      $("#new_search_data").load(url, function(){
        // add my even odd classes to rows
        var rowClass = "even";
        $("table.itu tr").each(function(){
          $(this).addClass(rowClass);
          rowClass = (rowClass == 'even' ? 'odd' : 'even');      
        });
        // setup my row hover
        $("table.itu tr").hover(function(){
          $(this).addClass("table-row-selected");
        }, function(){
          $(this).removeClass("table-row-selected");
        });
        $("#search_more table.itu").wrap("<div></div>").parent().addClass("ui-tabs-panel-padding");
        // whenever a possible match is clicked, we set the form value and submit the form
        $("table tr").bind("click", function(){
          var qb_id = $(this).attr("alt");
          $("input#client_qb_id").val(qb_id);
          $("#client_form input[type=submit]").click();
        });
      });
    });
    
    // whenever a possible match is clicked, we set the form value and submit the form
    $("table tr").bind("click", function(){
      var qb_id = $(this).attr("alt");
      $("input#client_qb_id").val(qb_id);
      $("#client_form input[type=submit]").click();
    });
  });
</script>