<div id="client<%= @client.id.to_s %>">
  <div class="toolbar">
    <h1>Client</h1>
    <a class="back button" href="#">Back</a>
    <a class="button" id="infoButton" href="#home">Home</a>
  </div>
  <h2 class="name"><%= @client.fullname %></h2>
  <h3 class="company"><%= @client.company_name %></h3>
  <ul>
    <% if @client.phones.length != 0 || @client.emails.length != 0 || @client.addresses.length != 0 %>
      <% if @client.phones.length != 0 %>
        <% @client.phones.each do |phone| %>
          <li><small><%= phone.context %></small> <a href="tel:<%= phone.number %>" target="_blank"><%= phone.pretty %></a></li>
        <% end %>
      <% end %>
      <% if @client.emails.length != 0 %>
        <% @client.emails.each do |email| %>
          <li><small><%= email.context %></small> <a href="mailto:<%= email.address %>" target="_blank"><%= email.address[0..20] %></a></li>
        <% end %>
      <% end %>
      <% if @client.addresses.length != 0 %>
        <% @client.addresses.each do |address| %>
          <li>
            <small><%= address.context %></small>
            <a href="http://maps.google.com/maps?q=<%= address.full_address %>" target="_blank" style="font-size:11px">
              <%= address.thoroughfare %> <%= address.city %> <%= address.state %> <%= address.zip %>
            </a>
          </li>
        <% end %>
      <% end %>
    <% end %>
  </ul>
  <% if @client.note != nil && @client.note != "" %>
    <h2>Notes</h2>
    <ul>
      <li class="paragraph"><%= textile_to_html(@client.note) %></li>
    </ul>
  <% end %>
  
  <ul class="individual">  
    <% if @client.tickets.length != 0 %>
      <li><a href="/iphone/clients/<%= @client.id %>/tickets">Tickets</a></li>
    <% end %>
    <% if @client.devices.length != 0 %>
      <li><a href="/iphone/clients/<%= @client.id %>/devices">Devices</a></li>
    <% end %>
  </ul>
  <ul class="individual">
    <li><a href="/iphone/clients/<%= @client.id %>/tickets/new">New Ticket</a></li>
    <li><a href="/iphone/clients/<%= @client.id %>/devices/new">New Device</a></li>
  </ul>

</div>