<div id="client_<%= @client.id %>">
  <div class="toolbar">
    <h1>Client</h1>
    <a class="back button" href="#">Back</a>
    <a class="button flip" href="#edit_client_<%= @client.id %>">Edit</a>
  </div>
  <h2 class="name"><%= @client.fullname %></h2>
  <h3 class="company"><%= @client.company_name %></h3>
  <ul class="rounded">
    <% if @client.phones.length != 0 || @client.emails.length != 0 || @client.addresses.length != 0 %>
      <% if @client.phones.length != 0 %>
        <% @client.phones.each do |phone| %>
          <li><small><%= phone.context %></small> <a href="tel:<%= phone.number %>" target="_blank"><%= phone.pretty %></a></li>
        <% end %>
      <% end %>
      <% if @client.emails.length != 0 %>
        <% @client.emails.each do |email| %>
          <li><small><%= email.context %></small> <a href="mailto:<%= email.address %>" target="_blank"><%= email.address[0..20] %></a></li>
        <% end %>
      <% end %>
      <% if @client.addresses.length != 0 %>
        <% @client.addresses.each do |address| %>
          <li>
            <small><%= address.context %></small>
            <a href="http://maps.google.com/maps?q=<%= address.full_address %>" target="_blank" style="font-size:11px">
              <%= address.thoroughfare %> <%= address.city %> <%= address.state %> <%= address.zip %>
            </a>
          </li>
        <% end %>
      <% end %>
    <% end %>
  </ul>
  <% if @client.note != nil && @client.note != "" %>
    <h2>Notes</h2>
    <ul class="rounded">
      <li class="paragraph"><%= textile_to_html(@client.note) %></li>
    </ul>
  <% end %>
  
  <ul class="individual">  
    <% if @client.tickets.length != 0 %>
      <li><a href="/iphone/clients/<%= @client.id %>/tickets">Tickets</a></li>
    <% end %>
    <% if @client.devices.length != 0 %>
      <li><a href="/iphone/clients/<%= @client.id %>/devices">Devices</a></li>
    <% end %>
  </ul>
  <ul class="individual">
    <li><a href="/iphone/clients/<%= @client.id %>/tickets/new">New Ticket</a></li>
    <li><a href="/iphone/clients/<%= @client.id %>/devices/new">New Device</a></li>
  </ul>
</div>

<% form_for @client, :url => iphone_client_path(@client), :html => {:class => "form"} do |f| %>
  <div class="toolbar">
    <h1>Edit Client</h1>
    <a class="back" href="#">Back</a>
    <a class="button" href="#client_<%= @client.id %>">Cancel</a>
  </div>
  <ul class="rounded">
    <li>Company? <span class="toggle"><%= f.check_box :company %></span></li>
  </ul>
  <ul id="person_name" class="rounded">
    <li><%= f.text_field :firstname, :placeholder => "First Name" %></li>
    <li><%= f.text_field :lastname, :placeholder => "Last Name" %></li>
  </ul>
  <ul id="company_name" class="hide rounded">
    <li><%= f.text_field :name, :placeholder => "Company Name" %></li>
  </ul>
  <h2>Phones</h2>
  <ul class="rounded">
    <% array = ["Cell","Work","Home","Fax"]  %>
    <% @client.phones.each do |phone| %>
      <%= render :partial => 'phone', :object => phone, :locals => {:context => phone.context} %>
      <% array.delete(phone.context) %>
    <% end %>
    <% array.each do |context| %>
      <%= render :partial => 'phone', :object => Phone.new(:client => @client), :locals => {:context => context} %>
    <% end %>
  </ul>
  <h2>Emails</h2>
  <ul class="rounded">
    <% array = ["Work","Personal"] %>
    <% @client.emails.each do |email| %>
      <%= render :partial => 'email', :object => email, :locals => {:context => email.context} %>
      <% array.delete(email.context) %>
    <% end %>
    <% array.each do |context| %>
      <%= render :partial => 'email', :object => Email.new(:client => @client), :locals => {:context => context} %>
    <% end %>
  </ul>
  <% array = ["Home","Work"] %>
  <% @client.addresses.each do |address| %>
    <h2><%= address.context %> Address</h2>
    <ul class="rounded">
      <%= render :partial => 'address', :object => address, :locals => {:context => address.context} %>
    </ul>
    <% array.delete(address.context) %>
  <% end %>
  <% array.each do |context| %>
    <h2><%= context %> Address</h2>
    <ul class="rounded">
      <%= render :partial => 'address', :object => Address.new(:client => @client), :locals => {:context => context} %>
    </ul>
  <% end %>
  <a style="margin:0 10px;color:rgba(0,0,0,.9)" href="#" class="whiteButton">Submit</a>
  <a href="#" class="submit hide">Submit</a>
<% end %>

<script>
  // company true false code
  if ($("form#edit_client_<%= @client.id %> input#client_company").attr("checked")) {
    $("ul#person_name").addClass("hide")  
    $("ul#company_name").removeClass("hide")
  } else {
    $("ul#person_name").removeClass("hide")
    $("ul#company_name").addClass("hide")
  }
  $("form#edit_client_<%= @client.id %> input#client_company").click( function() {
    if ($("form#edit_client_<%= @client.id %> input#client_company").attr("checked")) {
      $("ul#person_name").addClass("hide")  
      $("ul#company_name").removeClass("hide")
    } else {
      $("ul#person_name").removeClass("hide")
      $("ul#company_name").addClass("hide")
    }
  });
  // remove empty fields before submitting
  function remove_empty_fields(){
    // fix form saves so that empty boxes don't get saved :-)
    $("ul li input").each(function(){
      if ($(this).attr("value") == "") {
        $(this).parent().remove();
      };
      if ($(this).attr("value") == null) {
        $(this).parent().remove();
      };
    });
    $("ul li select").each(function(){
      if ($(this).attr("value") == "Select State") {
        $(this).parent().remove();
      };
    });
  };
  $("form#edit_client_<%= @client.id %> a.whiteButton").bind("click", function(){
    remove_empty_fields();
    $("form#edit_client_<%= @client.id %> a.submit").click();
  });
    // // form submission code
    // $("form#edit_client_<%= @client.id %> a.submit").bind("click", function(){
    //   remove_empty_fields();
    //   $("form#edit_client_<%= @client.id %>").ajaxSubmit({
    //     type: 'post',
    //     success: function(data){
    //       var link = "<a href='/iphone/clients/"+data+"' class='slideup'>Go to client</a>";
    //       $("form#edit_client_<%= @client.id %> a.submit").after(link);
    //       $("form#edit_client_<%= @client.id %> a.submit").next("a").click();
    //     }
    //   });
    // });
</script>