<li>
  <% form_for @ticket_item, :url => ticket_items_path do |form| %>
    <span class="item_name"><%= @ticket_item.item.name %></span>
    <span class="item_fields">
      <% if @ticket_item.item.locations %>
        <select name="location">
          <option value="store">Store</option>
          <% @ticket_item.item.locations do |location| %>
            <option value="<%= location.name %>"><%= location.name %></option>
          <% end %>
        </select>
      <% end %>
      <% if @ticket_item.item.requires_serialnumber %>
        <%= form.text_field :serial_number %>
      <% end %>
    </span>
    <%= form.hidden_field :quantity, :value => "1" %>
    <%= form.hidden_field :ticket_id, :value => @ticket_item.ticket_id %>
    <%= form.hidden_field :item_id, :value => @ticket_item.item.id %>
    <%= form.hidden_field :creator_id, :value => current_user.id %>
  <% end %>
</li>


<script>
  $(function(){
    $('#items_list li:first-child form').ajaxForm();
    <% if @ticket_item.item.requires_serialnumber %>
      $('#items_list li:first-child input#ticket_item_serial_number').focus();
      $('#items_list li:first-child input#ticket_item_serial_number').keyup(function(e){
        if(e.keyCode == 13) {
          $('input#barcode').focus();
        }
      });
    <% end %>
  });
</script>