<% form_for @ticket do |f| -%>
  <table class="m">
    <tr><td class="first">Location:</td>
      <td>
        <% if !@ticket.new_record? %>
          <input id="client_id" name="client_id" type="text" value="<%= @ticket.client.fullname %>" /><%= f.hidden_field :client_id, :value => @ticket.client.id %>
        <% else %>
          <input id="client_id" name="client_id" type="text" value="" /><%= f.hidden_field :client_id %>
        <% end %>
      </td>
    <tr>
    <tr><td class="first">Technician:</td>
      <td>
        <% if User.active.length > 1 %>
          <%= f.select :user_id, User.active.collect {|c| [c.name, c.id]}, :include_blank => true %>
        <% else %>
          <%= f.select :user_id, User.active.collect {|c| [c.name, c.id]} %>
        <% end %>
      </td>
    </tr>
    <tr><td class="first">Scheduled For:</td><td><%= f.text_field :active_on, :value => if @ticket.active_on != nil then @ticket.active_on.strftime("%m/%d/%Y") else Date.today.strftime("%m/%d/%Y") end %></td></tr>
  </table>
  <div class="line"></div>
  <h3>List problems and work that needs done:</h3>
  <%= f.hidden_field :creator_id, :value => current_user.id %>
  <p><%= f.text_area :description %></p>
  <%= f.submit "Save", :class => "hide" %>
<% end %>

<script>
  $(document).ready(function() {
    // setup save button
    $("#footer div.col2").append("<a href='#' class='save_ticket'>Save</a>");
    $("#footer a.save_ticket").bind("click", function(){
      $("div#ticket form input[type=submit]").click();
    });
    // add quickselects for client and technician
    $("input#client_id").quickselect({
      ajax:'/clients/all',
      matchMethod:'quicksilver',
      autoSelectFirst:true,
      maxVisibleItems:15,
      autoFill: false,
      additionalFields:$("input#ticket_client_id")
    });
    $("#ticket_user_id").quickselect({
      matchMethod:'quicksilver',
      autoSelectFirst:true,
      maxVisibleItems:15,
      autoFill: false
    });
    // create datepicker widget
    $("#ticket_active_on").datepicker();
    // focus on field
    <% if !@ticket.new_record? %>
      $("input#ticket_active_on").focus();
    <% else %>
      $("input#client_id").focus();
    <% end %>
  });
</script>