<% new_or_existing = address.new_record? ? 'new' : 'existing' %>
<% prefix = "client[#{new_or_existing}_address_attributes][]" %>
<% fields_for prefix, address do |f| -%>
  <tr class="address">
    <td class="context"><%= f.select :context, ["Home","Work","Other"] %></td>
    <td class="content">Street <%= f.text_field :thoroughfare, :title => "Street" %> City <%= f.text_field :city, :title => "City" %> State <%= f.text_field :state, :title => "State" %> Zip <%= f.text_field :zip, :title => "Zip" %></td>
  </tr>
<% end -%>
