<% form_for @client, :url => "/setup", :html => { :multipart => true } do |f| -%>
    <h2 edit="edit">Configure first user/client</h2>
    <div id="names" class="edit">
      <p class="person_name">FirstName: <%= f.text_field :firstname, :title => "First Name" %> Lastname: <%= f.text_field :lastname, :title => "Last Name" %></p>
      <p class="company_name">Company Name: <%= f.text_field :name, :title => "Company Name" %></p>
      <p class="is_a_company">Company? <%= f.check_box :company %></p>
      <p>Password: <input id="password" name="password" size="30" title="Password" type="password" /></p>
      <p>Password (Again): <input id="password_confirmation" name="password_confirmation" size="30" title="Password Confirmation" type="password" /></p>
    </div>
    <div id="picture"><p>Avatar: <%= f.file_field :mugshot %></p></div>
    <div id="details" class="edit">
      <table id="phones" class="">
        <thead>
          <tr>

            <th class="context">Phone</th>
            <th>Number</th>
          </tr>
        </thead>
        <tbody>
          <%= render :partial => 'phone', :object => Phone.new(:client => @client) %>
        </tbody>
      </table>
      <table id="emails" class="">
        <thead>
          <tr>
            <th class="context">Email</th>
            <th>Address</th>
          </tr>
        </thead>
        <tbody>
          <%= render :partial => 'email', :object => Email.new(:client => @client) %>
        </tbody>
      </table>
      <table id="addresses" class="">
        <thead>
          <tr>
            <th class="context">Street</th>
            <th>Address</th>
          </tr>
        </thead>
        <tbody>
          <%= render :partial => 'address', :object => Address.new(:client => @client) %>
        </tbody>
      </table>
    </div>
    <h2 edit="edit">Configure connection to Quickbooks</h2>
    <p><select id="qb_setup" name="qb_setup">
      <option value="ole">Quickbooks runs on this computer</option>
      <option value="https">Quickbooks runs on a remote computer</option>
    </select></p>
    <p id="qb_settings" class="hide">
      Address(ip): <input id="qb_ip" name="qb_ip" size="30" title="QB IP" type="text" /> Secret: <input id="qb_secret" name="qb_secret" size="30" title="QB Secret" type="text" /><br />
      (Leave these blank if Suite Server is running on the same computer as Quickbooks)
    </p>
    <h2 edit="edit">Configure mail setup</h2>
    <p><select id="mail_setup" name="mail_setup">
      <option value="sendmail">Sendmail</option>
      <option value="gmail">Gmail</option>
    </select></p>
    <p id="gmail_settings" class="hide">
      Gmail address: <input id="gmail_address" name="gmail_address" size="30" title="Gmail Address" type="text" /><br /> 
      Gmail password: <input id="gmail_password" name="gmail_password" size="30" title="Gmail Password" type="password" /><br />
    </p>
    <h2 edit="edit">Finally, click save</h2>
    <p><%= f.submit "Save" %></p>
<% end %>

<script>
  function remove_empty_fields(){
    // fix form saves so that empty boxes don't get saved :-)
    $("#details input").each(function(){
      if ($(this).attr("value") == "") {
        $(this).parent().parent().remove();
      };
      if ($(this).attr("value") == null) {
        $(this).parent().parent().remove();
      };
    });
  };
  $(document).ready(function() {
    
    // save form
    $("input[type=submit]").bind("click", function(){
      remove_empty_fields();
    });
    
    // swap around fields when is or is not a company
    if ($("#client p.is_a_company input").attr("checked")) { 
      $("#client p.person_name").addClass("hide")
    } else {
      $("#client p.company_name").addClass("hide")
    };
    $("#client p.is_a_company input").click( function() {
      if ($("#client p.is_a_company input").attr("checked")) {
       $("#client p.person_name").addClass("hide")  
      $("#client p.company_name").removeClass("hide")     
      } else {
       $("#client p.person_name").removeClass("hide")
       $("#client p.company_name").addClass("hide")     
      }
    });
    $("select#mail_setup").change(function(){
      if ($(this).val() == "gmail"){
        $("p#gmail_settings").removeClass("hide");
      }else{
        $("p#gmail_settings").addClass("hide");
      };
    });
    $("select#qb_setup").change(function(){
      if ($(this).val() == "gmail"){
        $("p#qb_settings").removeClass("hide");
      }else{
        $("p#qb_settings").addClass("hide");
      };
    });
	});
</script>