<% form_for @ticket, :url => iphone_tickets_path, :html => {:class => "form"} do |f| %>
  <div class="toolbar">
    <h1>New Ticket</h1>
    <a class="back" href="#">Back</a>
    <a class="button" href="#home">Home</a>
  </div>
  <h2>Client</h2>
  <ul>
    <li><%= @client.fullname %></li>
  </ul>
  <h2>Technician</h2>
  <ul>
    <li><%= f.select :user_id, User.find(:all).collect {|c| [c.name, c.id]}, :selected => current_user.id %></li>
  </ul>
  <h2>Description</h2>
  <ul>
    <li><%= f.text_area :description %></li>
  </ul>
  <%= f.hidden_field :client_id, :value => @client.id %>
  <%= f.hidden_field :creator_id, :value => current_user.id %>
  <%= f.hidden_field :active_on, :value => Date.today.strftime("%m/%d/%Y") %>
  <a style="margin:0 10px;color:rgba(0,0,0,.9)" href="#" class="submit whiteButton">Submit</a>
<% end %>

<script>
  $("form a.submit").bind("click", function(){
    $("form#new_ticket").ajaxSubmit({
      type: 'post',
      success: function(data){
        var link = "<a href='/iphone/tickets/"+data+"' class='slideup'>Go to ticket</a>";
        $("form a.submit").after(link);
        $("form a.submit").next("a").click();
      }
    });
  });
</script>