<div id="ticket">
  <div class="toolbar">
    <h1>Ticket #<%= @ticket.id %></h1>
    <a class="back" href="#">Back</a>
    <a class="flip" href="#edit">Edit</a>
  </div>
  <div class="pad">
    <div class="info" style="text-align:left;">
      <p><%= textile_to_html(@ticket.description) %></p>
    </div>
    <ul>
      <li>
        <small>Client</small>
        <a href="/iphone/clients/<%= @ticket.client.id %>"><%= @ticket.client.fullname[0..25] %></a>
      </li>
      <li>
        <small>Tech</small>
        <a href="/iphone/clients/<%= @ticket.technician.client_id.to_s %>"><%= @ticket.technician.name %></a>
      </li>
      <li>
        <small>Status</small>
        <a href="#"><%= @ticket.status %></a>
      </li>
    <% if TicketEntry.find(:all, :conditions => {:ticket_id => @ticket.id, :detail => 1}).length > 0 %>
      <% TicketEntry.find(:all, :order => "created_at DESC", :conditions => {:ticket_id => @ticket.id, :detail => 1}).each do |entry| %>
        <li>
          <%= image_tag entry.creator.avatar.url(:avatar) %>
          <span class="byline"><b><%= entry.creator.name %></b> <%= entry.updated_at.strftime("%H:%M %m/%d/%Y") %></span>
          <span class="te_details">Time: <b><%= entry.time %>min</b> Type: <b><%= !entry.labor_type.blank? ? entry.labor_type.name : "" %></b><br />Billable? <b><%= billable(entry) %></b> Private? <b><%= is_this_private(entry) %></b></span>
          <div class="te_note">
            <%= textile_to_html(entry.note) %>
            <% if !entry.parts.blank? %>
              <br><hr><br>
              <%= textile_to_html(entry.parts) %>
            <% end %>
          </div>
        </li>
      <% end %>
    <% end %>
    </ul>
    <ul class="individual">
      <% if @ticket.devices.length != 0 %>
        <li><a href="/iphone/tickets/<%= @ticket.id %>/devices">Devices</a></li>
      <% end %>
    </ul>
  </div>
</div>