<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
	  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	  <meta http-equiv="X-UA-Compatible" content="chrome=1">
	  <title>Suite</title>
    <%= javascript_include_tag "jquery-1.4.2.min.js", "jquery-ui" %>
    <%= javascript_include_tag "fullcalendar.min", "underscore-min" %>
    <%= javascript_include_tag "common", "tickets" %>
		<%= stylesheet_link_tag "blueprint/screen", "smoothness/jquery-ui-1.7.2.custom", "fullcalendar", "common", "tickets", :media => "screen" %>
    <!--[if IE]><link rel="stylesheet" href="/stylesheets/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->
    <script>
      $(function(){
        $('#calendar').fullCalendar({
          editable: false,
          eventSources: ['/tickets/calendar.json'],
          loading: function(bool) {
              			 if (bool) {
              			   $('#calendar_loading').show();
              			 } else {
              			   $('#calendar_loading').hide();
              			 }
              		 },
          eventClick: function(calEvent, jsEvent, view) {
            window.location = '/tickets/'+calEvent.id
          }
        });
      });
    </script>
  </head>
  <body>

    <div id="header">
      <h1 class="hide">Opportunity Tickets</h1>
      <%= render :partial => 'shared/link_bar' %>
      <div class="flash"><%= flash_messages %></div>
    </div>
    
    <div id="calendar"></div>
    <div id='calendar_loading' style='display:none'>loading...</div>
    
    <div id="footer">
      <div class="col1"></div>
      <div class="col2"></div>
      <div class="col3">
        <%= link_to "Logout?", "/logout" %>
      </div>
    </div>
  </body>
</html>