<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Suite</title>
    <%= javascript_include_tag "jquery-1.3.2.min.js", "jquery-ui" %>
    <%= javascript_include_tag "jquery.metadata", "quicksilver", "jquery.quickselect", "jquery.livesearch" %>
    <%= javascript_include_tag "common", "clients" %>
    <%= stylesheet_link_tag "blueprint/screen", "smoothness/jquery-ui-1.7.2.custom", "common", "clients", "jquery.quickselect", :media => "screen" %>
    <!--[if IE]><link rel="stylesheet" href="/stylesheets/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->
  </head>
  <body>

    <div id="header">
      <h1 class="hide">Know My Clients</h1>
      <%= render :partial => 'shared/link_bar' %>
      <div class="flash"><%= flash_messages %></div>
    </div>

    <div id="sidebar">
      <div id="applesearch"><input type="search" id="srch_fld" placeholder="Search..." autosave="applestyle_srch" results="5" onkeyup="" /></div>
      <ul class="itu" id="clients">
      </ul>
      <h2>Departments</h2>
      <ul class="itu">
        <% Client.find(:all, :conditions => {:company => true}).each do |department| %>
          <li><%= link_to department.name, client_url(department), :class => 'company' %></li>
        <% end %>
      </ul>
    </div>

    <div id="center" class="container">
      <%= yield %>
    </div>

    <div id="footer">
      <div class="col1">
        <%= link_to "New", "/clients/new" %>
      </div>
      <div class="col2"></div>
      <div class="col3">
        <%= link_to "Logout?", "/logout" %>
      </div>
    </div>
  </body>
</html>