<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
	  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	  <title>Suite</title>
    <%= javascript_include_tag "jquery", "jquery-ui" %>
    <%= javascript_include_tag "jquery.quicksearch", "common" %>
		<%= stylesheet_link_tag "blueprint/screen", "jquery-theme", "common", "inventory", :media => "screen", :cache => "inventory-css-combined" %>
    <!--[if IE]><link rel="stylesheet" href="/stylesheets/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->
  </head>
  <body>
    <div id="header">
      <h1 class="hide">Suite Inventory</h1>
      <%= render :partial => 'shared/link_bar' %>
      <div class="flash"><%= flash_messages %></div>
    </div>
    
    <div id="sidebar" class="sidebar-list">
      <h2>Locations</h2>
      <ul class="itu">
        <% Location.all.each do |location| %>
          <li class="droppable" data-location-id="<%= location.id %>" data-location-url="<%= location_path(location) %>" data-location-title="<%=h location.name %>"><a href="javascript:void(0);" class="location"><%= location.name %></a></li>
        <% end %>
      </ul>
      <script>
        $(document).ready(function(){
          // setup add item to location dialog
          $('#quantity').dialog({
            autoOpen: false,
            resizable: false,
            modal: true
          });
          // make inventory items draggable
          $(".item").draggable({
            cursorAt: { left: 100 },
            helper: 'clone',
            opacity: 0.3
          });
          // make locations droppable
          $("#sidebar .droppable").droppable({
            accept: '.item',
            over: function(){
              $(this).addClass('selected');
            },
            out: function(){
              $(this).removeClass('selected');
            },
            drop: function(event, ui){
              $(this).removeClass('selected');
              var url = '/locations/'+$(this).attr('data-location-id')
              $('#quantity').dialog('option', 'buttons', { 
                "Add Item": function() { 
                  $.ajax({
                    url: url,
                    type: "POST",
                    data: '_method=put&type=add_item&item_id='+ui.draggable.attr('data-item-id')+'&quantity='+$('#quantity input').val(),
                    success: function(){
                      flash('Successfully added the item.')
                    },
                    error: function(){
                      flash('Was not able to add the item.')
                    }
                  });
                  $('#quantity input').val('')
                  $(this).dialog('close');
                }
              });
              $('#quantity').dialog('open');
              $('#quantity input').focus();
            }
          });
          // location dialog
          $('#location').dialog({
            autoOpen: false,
            modal: true,
            width: 600,
            height: 400
          });
          $('[data-location-url]').click(function() {
            var $item = $(this),
                title = $item.attr('data-location-title'),
                url   = $item.attr('data-location-url');          
            $('#location').dialog('option', 'title', title).html('Loading...').load(url).dialog('open');
          });
        });
      </script>
    </div>

    <div id="center" class="container">
      <div id="content_search"></div>
      <%= yield %>
    </div>
    
    <div id="footer">
      <div class="col1">
        <a href="javascript:void(0);" data-location-url="<%= new_location_path %>" data-location-title="New Location"><img src="/images/icons/add.png" /> Location</a>
      </div>
      <div class="col2"></div>
      <div class="col3">
        <%= link_to "Logout?", "/logout" %>
      </div>
    </div>
    <div id="location"></div>
    <div id="quantity">
      <label>Quantity</label><input type="text" />
    </div>
  </body>
</html>