<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
	  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	  <meta http-equiv="X-UA-Compatible" content="chrome=1">
	  <title>Suite</title>
	  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/chrome-frame/1/CFInstall.min.js"> </script>
    <%= javascript_include_tag "jquery-1.3.2.min", "jquery-ui", "jquery.form", "quicksilver", "jquery.quickselect", "underscore-min" %>
    <%= javascript_include_tag "common", "locations" %>
		<%= stylesheet_link_tag "blueprint/screen", "smoothness/jquery-ui-1.7.2.custom", "jquery.quickselect", "common", "inventory", "locations", :media => "screen" %>
    <!--[if IE]><link rel="stylesheet" href="/stylesheets/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->
  </head>
  <body>
    <div id="header">
      <h1 class="hide">Suite Inventory</h1>
      <%= render :partial => 'shared/link_bar' %>
      <div class="flash"><%= flash_messages %></div>
    </div>
    
    <div id="sidebar" class="sidebar-list">
      <h2>Inventory</h2>
      <ul class="m">
        <li><a href="/inventory" class="search">Search</a></li>
        <li><a href="/inventory/activity" class="log">Inventory Log</a></li>
      </ul>
      <h2>Locations</h2>
      <ul class="m">
        <% Location.all.each do |location| %>
          <li class="droppable" data-location-id="<%= location.id %>" data-location-url="<%= location_path(location) %>" data-location-title="<%=h location.name %>"><a href="javascript:void(0);" class="location"><%= location.name %></a></li>
        <% end %>
      </ul>
    </div>

    <div id="center" class="container">
      <%= yield %>
    </div>
    
    <div id="footer">
      <div class="col1">
        <a href="javascript:void(0);" data-location-url="<%= new_location_path %>" data-location-title="New Location"><img src="/images/icons/add.png" /> Location</a>
      </div>
      <div class="col2"></div>
      <div class="col3">
        <%= link_to "Logout?", "/logout" %>
      </div>
    </div>
    <div id="location"></div>
    <div id="quantity">
      <label>Quantity</label><input type="text" />
    </div>

    <div id="placeholder"></div>
    <script>
     CFInstall.check({
        node: "placeholder",
        destination: "http://www.waikiki.com"
      });
    </script>
  </body>
</html>