<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
	  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	  <title>Suite</title>
    <%= javascript_include_tag "jquery-1.3.2.min", "jquery-ui", "jquery.form", "underscore-min" %>
    <%= javascript_include_tag "common", "locations", "inventory" %>
		<%= stylesheet_link_tag "blueprint/screen", "jquery-theme", "common", "inventory", "locations", :media => "screen", :cache => "inventory-css-combined" %>
    <!--[if IE]><link rel="stylesheet" href="/stylesheets/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->
  </head>
  <body>
    <div id="header">
      <h1 class="hide">Suite Inventory</h1>
      <%= render :partial => 'shared/link_bar' %>
      <div class="flash"><%= flash_messages %></div>
    </div>
    
    <div id="sidebar" class="sidebar-list">
      <h2>Locations</h2>
      <ul class="m">
        <% Location.all.each do |location| %>
          <li class="droppable" data-location-id="<%= location.id %>" data-location-url="<%= location_path(location) %>" data-location-title="<%=h location.name %>"><a href="javascript:void(0);" class="location"><%= location.name %></a></li>
        <% end %>
      </ul>
    </div>

    <div id="center" class="container">
      <div id="content_search">
        <div id="applesearch"><form action="/inventory/"><span class="sbox_l"></span><span class="sbox"><input type="search" id="srch_fld" name="q" placeholder="Search..." autosave="applestyle_srch" results="5" onkeyup="" /></span><span class="sbox_r" id="srch_clear"></span></form></div>
      </div>
      <%= yield %>
    </div>
    
    <div id="footer">
      <div class="col1">
        <a href="javascript:void(0);" data-location-url="<%= new_location_path %>" data-location-title="New Location"><img src="/images/icons/add.png" /> Location</a>
      </div>
      <div class="col2"></div>
      <div class="col3">
        <%= link_to "Logout?", "/logout" %>
      </div>
    </div>
    <div id="location"></div>
    <div id="quantity">
      <label>Quantity</label><input type="text" />
    </div>
  </body>
</html>