<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
	  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	  <meta http-equiv="X-UA-Compatible" content="chrome=1">
	  <title>Suite</title>
    <%= javascript_include_tag "jquery-1.3.2.min.js", "jquery-ui" %>
    <%= javascript_include_tag "jquery.form", "jquery.metadata", "quicksilver", "jquery.quickselect", "jquery.url", "jquery.jeditable", "jquery.tablesorter", "underscore-min" %>
    <%= javascript_include_tag "common", "tickets" %>
		<%= stylesheet_link_tag "blueprint/screen", "smoothness/jquery-ui-1.7.2.custom", "jquery.quickselect", "common", "tickets", :media => "screen" %>
    <!--[if IE]><link rel="stylesheet" href="/stylesheets/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->
  </head>
  <body class="container">

    <div id="header">
      <h1 class="hide">Opportunity Tickets</h1>
      <%= render :partial => 'shared/link_bar' %>
      <div class="flash"><%= flash_messages %></div>
    </div>
    
    <div id="sidebar">
      <h2>Tickets</h2>
      <ul class="m">
        <li><a href="/tickets/?status=open" class="open">Open</a><%= totals_helper(:open) %></li>
        <li><a href="/tickets/?status=scheduled" class="scheduled">Scheduled</a><%= totals_helper(:scheduled) %></li>
        <li><a href="/tickets/?status=completed" class="completed">Completed</a><%= totals_helper(:completed) %></li>
        <li><a href="/tickets/?status=all&scope=all" class="all">All</a><%= totals_helper(:all) %></li>                              
        <li><a href="/tickets/?status=archived" class="archived">Archived</a></li>
      </ul>
    </div>
    
    <div id="center">
      <div id="content_search">
        <div id="applesearch"><form action="/tickets/search"><span class="sbox_l"></span><span class="sbox"><input type="search" id="srch_fld" name="q" placeholder="Search..." autosave="applestyle_srch" results="5" onkeyup="" /></span><span class="sbox_r" id="srch_clear"></span> <input id="srch_button" name="commit" type="submit" value="Search" onclick="" /></form></div>
        <% @users = User.active.collect {|c| [c.name, c.id]} %>
        <div id="user_select"></div>
      </div>
      <%= yield %>
    </div>
    
    <div id="footer">
      <div class="col1">
        <%= link_to "New", "/tickets/new" %>
      </div>
      <div class="col2"></div>
      <div class="col3">
        <%= link_to "Logout?", "/logout" %>
      </div>
    </div>
  </body>
</html>